// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";

.sand #outer-wrapper {
    background: none;
}

.page-head {
    background-color: #fff;
    margin-top: 0;
    padding-top: 5.714em;

    @media only screen and (max-width: @breakTablet) {
        padding-top: 2em;
    }

    h2 {
        text-align: center;
        line-height: 1.2;
    }
}

.page-title {
    color: @mozillaRed;
    margin-top: @baseLine * 2;
    .font-size(72px);
    text-align: center;

    @media only screen and (max-width: @breakDesktop) {
        .font-size(56px);
    }

    @media only screen and (max-width: @breakTablet) {
        .font-size(40px);
    }
}

main {
    h2 {
        margin: (@baseLine * 3) 0;
        text-align: center;

        @media only screen and (max-width: @breakTablet) {
            margin: (@baseLine * 2) 0;
        }
    }
}

.simple,
.challenging {
    text-align: center;
    list-style: none;
    .clearfix;
}

.task {
    position: relative;
    display: inline-block;
    margin-left: 0;
    width: 300px;
    vertical-align: top;

    @media only screen and (max-width: @breakDesktop) {
        width: 240px;
    }

    @media only screen and (max-width: @breakTablet) {
        display: block;
        margin: 0 auto @baseLine;
        width: 400px;
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        width: 260px;
    }

    h3 {
        display: inline-block;
        .font-size(16px);

        &.fx-mobile:before {
            background-position: -202px -3px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -149px -4px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -202px -4px;
            }
        }

        &.fx-twitter:before {
            background-position: -406px -4px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -283px -4px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -406px -3px;
            }
        }

        &.startmozilla-twitter:before {
            background-position: -406px -401px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -276px -281px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -406px -401px;
            }
        }

        &.coding:before {
            background-position: -3px -205px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -9px -152px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -2px -205px;
            }
        }

        &.fxos:before {
            background-position: -205px -205px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -145px -145px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -205px -205px;
            }
        }

        &.devtools:before {
            background-position: -405px -204px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -286px -145px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -405px -204px;
            }
        }
    }

    h3:before {
        display: block;
        content: '';
        .at2x('/media/img/contribute/signup/tasks-sprite.png', 600px, 600px);
        background-position: -6px -9px;
        background-repeat: no-repeat;
        margin: 0 auto @baseLine;
        border: 5px solid #d1d2d3;
        border-radius: 50%;
        width: 191px;
        height: 191px;

        @media only screen and (max-width: @breakDesktop) {
            background-size: 400px 400px;
            width: 110px;
            height: 110px;
        }

        @media only screen and (max-width: @breakTablet) {
            background-size: 600px 600px;
            width: 191px;
            height: 191px;
        }
    }

    h3:hover:before,
    h3:focus:before {
        border-color: #0c99d5;
    }

    a.outline-button:link,
    a.outline-button:visited {
        display: inline-block;
        color: #0c99d5;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid #d1d2d3;
        border-radius: 8px;
        width: 160px;
        line-height: 1.3;

        @media only screen and (max-width: @breakTablet) {
            width: 320px;
        }

        @media only screen and (max-width: @breakMobileLandscape) {
            width: 180px;
        }
    }

    a.outline-button:hover,
    a.outline-button:focus {
        border-color: #0c99d5;
        text-decoration: none;
    }
}

.tasks-challenging {
    padding-bottom: 80px;

    @media only screen and (max-width: @breakTablet) {
        padding-bottom: 0;
    }
}

.tooltip-trigger {
    display: inline-block;
    background: transparent url('/media/img/contribute/signup/info-icon.svg') 0 10px no-repeat;
    background-size: 25px;
    width: 25px;
    height: 35px;
    text-indent: -9999em;
}

.tooltip {
    position: absolute;
    background-image: none;
    background-color: #fff;
    color: #32333a;
    padding: 15px 15px 0;
    .open-sans-light;
    .font-size(14px);
    line-height: 1.3;
    text-shadow: none;
    box-shadow: 0px -4px 15px #e0e0e0;
    z-index: 2;

    @media only screen and (max-width: @breakTablet) {
        right: 0;
    }

    &:after {
        top: -15px;
        left: 240px;
        border-color: #fff transparent;
        border-width: 0 12px 16px;

        @media only screen and (max-width: @breakDesktop) {
            left: 207px;
        }

        @media only screen and (max-width: @breakTablet) {
            right: 10px;
            left: auto;
        }
    }
}

.hidden {
    display: none;
}

@media only screen and (max-width: @breakMobile) {
    #colophon .row {
        width: 280px;
    }
}
